<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Converter</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/pico.min.css">
    <link rel="stylesheet" href="static/pico.colors.min.css">
    <script src="static/jquery.min.js"></script>
    <script src="static/app.js"></script>
</head>
    <body>
        <main class="container">
        <hgroup>
            <h1>File converted successfully!</h1>
            <p>ffmpeg-gui</p>
        </hgroup>

        <div class="container">
            <button onclick="openfolder('{{output_folder}}')">Show in folder</button>
            <button onclick="window.location.href='/'">Convert again</button>
        </div>

        </main>
    </body>
</html>